body { 
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;    
    font-weight: 200;
    
    background-color: #f7f8fa;
}

/* Bootstrap Tweaks */
nav.navbar{border-radius:0;}
.navbar-toggle{background-color: #fff;}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand{
    
}
.navbar-brand{color:#fff; font-weight: bold; display: none;}
.navbar-nav > li > a{color:#fff; text-decoration: underline;} .navbar-nav > li > a:hover{color:#023b7e}
.navbar-nav > li.sign-in > a{background-color: orange; border-radius: 10px; text-decoration: none; font-weight: bold; height: 55px; padding-top: 17px;}

button.btn{border-radius: 0;}

.carousel-indicators li{float: right;}

@media screen and (max-width: 767px){
    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand{
        display: block;
    }
    .sub-header{
        text-align: center
    }
    .join-us{margin-top: 80px}
}

@media screen and (min-width: 768px){
    nav.navbar{height:50px;} 
    .search-box{border: solid 2px #fff; background-color: #dddddd; padding:10px 0; border-radius: 5px; text-align: center}
    .bag{height: 48px;}
    #quickSearch{width:255px;} #search-category{width: 210px;}
    .panel-offer{
       
    }
}


/* Page Styling */
.header{
    background-color: #023b7e;
}
.pull-right{float: right; !important}
.right{text-align: right;} .center{text-align: center;}

.menu-slider-ad{border: solid 2px #dddddd; min-height: 300px; margin-top: 20px}

.menu, .ad, .slider{padding:0;}
.menu ul{padding:0; list-style: none; background-color: #fff; margin:0;}
.menu ul li{border: solid thin #dddddd; padding:10px}
.menu ul li:hover{cursor: pointer; background-color: #f7f8fa; border: solid 2px #dddddd;}

.ad img{opacity: 0.8} .ad img:hover{opacity: 1.0}

.slider{border: solid thin #dddddd;}

.delivery, .deals{
    margin-top: 20px;
}

.pink{background-color: #ff6785;} .light-pink{background-color: #ffeded;}
.pink-text{color: #ff0103}
.green{background-color: #50c86f;} .light-green{background-color: #f1ffe8;}
.blue{background-color: #74b4f4;} .light-blue{background-color: #edf8fe;}
.light-yellow{background-color: #fff6ed;} .light-gray{background-color: #dee3e9;}
.blue-text{color: #023b7e;}
.orange{background-color: #f59500;}

.btn-green{background-color: #d2ffe0; border: solid thin #95bf73;}
.btn-blue{background-color: #cdfaff; border: solid thin #7680be;}

.panel{border: solid thin #bfbdc2;}
.panel-heading{border: solid thin #fff; color: #fff;}
.panel-body img{border: solid thin #dddddd; border-radius: 3px;}

.product-desc{padding-top: 10px;}

.merchants img{padding:0}

.time{font-size: 26px}

.pre-footer-advert{
    margin:50px;
}

.clear{margin-bottom: 30px;}

.footer{
    margin-top:20px;
    padding-top:30px;
    background-image: url("../img/footer-bg.png");
    min-height: 280px;
    color: #fff;
}
.footer ul{
    padding:0; margin: 0;
    list-style: none;
}
.footer ul li{
    text-decoration: underline;
    padding-bottom:20px;
}

.title{text-transform: uppercase;} .faint-title{text-transform: uppercase; font-weight: 200;}
.links, .payments, .newsletter{border-right: solid thin #304972; border-right-style:ridge;}
.links, .payments, .newsletter, .join-us{height: 160px;}